/* General styles */

:root {
  --main-color: #303030;
  --second-color: #555555;
  --accent-color: #ff6c00;
  --pre-title-case: uppercase;
  --title-first-color: #ffffff;
  --title-second-color: #303030;
  --button-first-color: #ffffff;
  --button-second-color: #303030;
  --specific-ident: 20px;
}

h1,
h2,
p {
  margin: 0;
}

.page-body {
  font-family: "Open Sans", sans-serif;
  background-color: grey;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
}

.second-button:hover,
.second-button:focus {
  color: var(--button-first-color);
}

.title {
  font-family: "Railway", sans-serif;
}

.second-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: var(--pre-title-case);
}

/* Header styles */

.page-header {
  padding: 32px 0;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-button {
  color: var(--button-first-color);
}

/* Hero styles */

.hero .list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--main-color);
}

.hero .list-link:hover,
.hero .list-link:focus {
  color: var(--accent-color);
}

.hero-description {
  padding-top: 176px;
  padding-left: 200px;
  padding-right: 50px;
  padding-bottom: 210px;
}

.hero .pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--specific-ident);
}

.hero .title {
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--title-first-color);
  margin-bottom: var(--specific-ident);
}

.hero-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/* About styles */

.about {
  padding: 120px 0;
}

.about .pre-title {
  color: var(--main-color);
  margin-bottom: var(--specific-ident);
}

.about .title {
  color: var(--title-second-color);
  margin-bottom: var(--specific-ident);
}

.about .after-title {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-bottom: var(--specific-ident);
}

.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-bottom: 42px;
}

.about-button {
  color: var(--button-second-color);
}

/* Services styles */

.services .pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--specific-ident);
}

.services .title {
  color: var(--title-first-color);
  margin-bottom: 44px;
}

.services-list {
  border: 1px solid #000000;
  padding: 30px 20px;
}

.services-list .item {
  margin-bottom: 20px;
}

.services .text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services-button {
  color: var(--button-first-color);
}

/* Benefits styles */

.benefits-list .number {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: var(--main-color);
}

.benefits-list .sign {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--accent-color);
}

.benefits-list .text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--main-color);
}

.benefits .pre-title {
  color: var(--main-color);
}

.benefits .title {
  color: var(--title-second-color);
}

.benefits .after-title {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* Barbers styles */

.barbers .pre-title {
  color: var(--main-color);
}

.barbers .title {
  color: var(--title-second-color);
}

.barber-name {
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.barber-position {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* Gallery styles */

.gallery .pre-title {
  color: var(--main-color);
}
