/* General styles */

:root {
  --main-color: #303030;
  --second-color: #555555;
  --accent-color: #ff6c00;
  --pre-title-case: uppercase;
  --title-first-color: #ffffff;
  --title-second-color: #303030;
  --button-first-color: #ffffff;
  --button-second-color: #303030;
  --specific-ident: 20px;
}

h1,
h2,
p {
  margin: 0;
}

.page-body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.button {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
}

.second-button:hover,
.second-button:focus {
  color: var(--button-first-color);
}

.title {
  font-family: "Railway", sans-serif;
}

.second-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: var(--pre-title-case);
}

.pre-title::before {
  content: " ";
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: var(--main-color);
  margin-right: 20px;
  vertical-align: middle;
}

/* Header styles */

.page-header {
  padding: 32px 0;
  background-color: #9da4bd;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 120px;
}

.header-list {
  display: flex;
}

.header-list .item:not(:first-child) {
  margin-left: 25px;
}

.header-contacts {
  margin-left: auto;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-button {
  color: var(--button-first-color);
  margin-left: 35px;
}

/* Hero styles */

.hero .container {
  display: flex;
}

.hero-list {
  width: 100px;
}

.hero .list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--main-color);
}

.hero .list-link:hover,
.hero .list-link:focus {
  color: var(--accent-color);
}

.hero-description {
  padding-top: 176px;
  padding-left: 200px;
  padding-right: 50px;
  padding-bottom: 210px;
  background-color: #2d2c2c;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-description-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.hero .pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--specific-ident);
}

.hero .pre-title::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.hero .title {
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--title-first-color);
  margin-bottom: var(--specific-ident);
}

.hero-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 360px;
}

/* About styles */

.about {
  padding: 120px 0;
}

.about .container {
  display: flex;
  align-items: flex-start;
}

.about .pre-title {
  color: var(--main-color);
  margin-bottom: var(--specific-ident);
}

.about .title {
  color: var(--title-second-color);
  margin-bottom: var(--specific-ident);
}

.about .after-title {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-bottom: var(--specific-ident);
}

.about-img {
  margin-right: 30px;
}

.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-bottom: 42px;
}

.about-button {
  color: var(--button-second-color);
}

/* Services styles */

.services {
  background-color: rgb(17, 19, 25);
  background-image: url(../img/services-bg.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.services .pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--specific-ident);
}

.services .title {
  color: var(--title-first-color);
  margin-bottom: 44px;
}

.services .our-price {
  display: flex;
  margin-right: -30px;
}

.services-list {
  padding: 30px 20px;
  width: calc((100% - 60px) / 2);
  margin-right: 30px;
  margin-bottom: 44px;
}

.services-first {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-second {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-list .item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list .item {
  display: flex;
  justify-content: space-between;
}

.services .text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services-button {
  color: var(--button-first-color);
  display: block;
  margin: auto;
}

/* Benefits styles */
.benefits-container {
  display: flex;
  padding-top: 130px;
  padding-bottom: 120px;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
}

.benefits-description {
  max-width: 550px;
}

.benefits-list .item {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  text-align: center;
  padding: 20px 24px;
}

.benefits-list .item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-list .item:nth-child(even) {
  margin-top: 30px;
}

.benefits-list .number {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: var(--main-color);
}

.benefits-list .sign {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--accent-color);
}

.benefits-list .text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--main-color);
}

.benefits .pre-title {
  color: var(--main-color);
}

.benefits .title {
  color: var(--title-second-color);
}

.benefits .after-title {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--second-color);
}

/* Barbers styles */

.barbers {
  padding: 120px 0;
  background-color: #f7f7f7;
}

.barbers .pre-title {
  color: var(--main-color);
}

.barbers .title {
  color: var(--title-second-color);
}

.barber-list {
  display: flex;
  margin-left: -30px;
}

.barber-list .item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.barber-list .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.barber-list .social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.barber-list .social-item:last-child {
  margin-right: 0;
}

.barber-list .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  color: var(--main-color);
}

.barber-list .social-icon {
  fill: currentColor;
}

.barber-list .social-link:hover,
.barber-list .social-link:focus {
  color: var(--accent-color);
}

.barber-name {
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.barber-position {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* Gallery styles */

.gallery {
  padding: 120px 0;
}

.gallery .pre-title {
  color: var(--main-color);
  margin-bottom: 44px;
}

.gallery-images {
  display: flex;
  margin-right: -30px;
}

.gallery-images .img {
  flex-basis: calc((100% - 120px) / 4);
  margin-right: 30px;
}

/* Booking Contacts */

.booking-contacts {
  background-color: #191c26;
  display: flex;
  justify-content: space-between;
  height: 634px;
  background-repeat: no-repeat;
  background-position: right;
}

.booking-contacts .contacts {
  width: 50%;
  background-image: url(../img/contacts-bg.png);
}

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}

.contacts .title {
  color: var(--title-first-color);
  margin-bottom: 40px;
}

.contacts .contact-address {
  font-style: normal;
}

.contacts .address-item {
  margin-bottom: 20px;
}

.contacts .address-link {
  display: flex;
  align-items: center;
  color: #9da4bd;
}

.contacts .address-link:hover {
  color: var(--accent-color);
}

.contacts .icon {
  margin-right: 16px;
  fill: none;
  stroke: currentColor;
}

.contacts .address-link:hover,
.contacts .address-link:focus {
  color: var(--accent-color);
}
